<section class="main-content">
  <section class="col col-1-4">
    <article class="news-article">
      <h1 class="article-title" id="feature-article">Launching the New React/Redux Curriculum</h1>
      <span class="author">By APP ACADEMY INSTRUCTIONAL TEAM</span>
      <ul class="article-list">
        <li>
          <p>
            It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
          </p>
        </li>
        <li>
          <p>
            The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
          </p>
        </li>
      </ul>
      <a href="#" class="comments-link">1738 Comments</a>
    </article>
  </section>

  <section class="col col-1-2">
    <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
    <br>
    <span id="video-warning">Warning: This video will make you want to change your career</span>

    <article class="news-article">
      <h3 class="article-title">Where Are They Now?</h3>
      <span class="author">By APP ACADEMY ALUMNI</span>
      <p class="article-body">First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
    </article>

    <article class="news-article">
      <h3 class="article-title">Cat Academy</h3>
      <span class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
      <p class="article-body">App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
    </article>
  </section>

  <section class="col col-1-4 group">
    <h3 id="opinion-header">The Opinion Pages</h3>
    <section class="col col-1-2">
      <article class="news-article">
        <span class="subtitle">Op-Ed Contributor</span>
        <h3 class="article-title">Will Javascript ever be as easy as Ruby?</h3>
        <p class="article-body">Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>

        <ul id="op-ed-list" class="article-list">
          <li>
            Torvalds: When I Was Almost Wrong
          </li>
          <li>
            Knuth: Art of Programming
          </li>
          <li>
            Lovelace: The First Algorithm
          </li>
          <li>
            Hopper: The First Bug
          </li>
          <li>
            Thompson: Go C Unix
          </li>
          <li>
            Carmack: My Virtual Reality
          </li>
          <li>
            Stallman: Free Speech Not Free Coffee
          </li>
        </ul>
      </article>
    </section>
    <section class="col col-1-2">
      <article class="news-article">
        <span class="subtitle"> Operations </span>
        <h3 class="article-title">App Academy New York Has A Brand New Office</h3>
        <span class="author">By NY OPERATIONS</span>
        <p class="article-body">The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
        <div class="thumbnail">
          <img id="ny-office-img" src="assets/new_office.jpg" alt="NY Office Interior">
        </div>
      </article>

      <article class="news-article">
        <h3 class="article-title">Opinion Today, in your Inbox</h3>
        <p class="article-body">Each weekday, get though-provoking commentary from our columnists and contributors.</p>
      </article>
    </section>

    <div class="signup">
      <input id="email-input" type="text" value="Get the Opinion newsletter by email">
      <button type="button" id="signup-btn">Sign Up</button>
      <p id="signup-disclaimer">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
    </div>
  </section>
</section>
